body{
    margin: 0;
    letter-spacing: .04em;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}
header {
    width: 98%;
    margin: auto;
    align-items: center;
    padding: 0.75rem;
}

p{
    font-size: 1.1rem;
}
form{
    width: 100%;
}
input{
    display: block;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    background-color: #fff;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: .375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;  
}
button{
    height: 2.5rem;
    padding: 0.3rem;
    background-color: #0d6efd;
    border-radius: .8rem;
    cursor: pointer;
    transition: all .09s linear;
    color: #fff;
    font-family: "Roboto",sans-serif;
    font-size: 1rem;
}
button:hover{
    background-color: #0b5ed7;
}
a{
    text-decoration: none;
}
a:hover{
    color: #74b3ff;
}
table{
    margin: auto;
    width: 80%;
    border: 0.15rem solid;
    border-color: #dee2e6;
    text-align: left;
}
th, td{
    padding: 0.40rem;
    border: 0.1rem solid;
    border-color: #dee2e6;
}
.menu-container {
    top:0;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 10px rgba(0,0,0,.1);
    background-color: #fff;
    font-family: "Roboto",sans-serif;
    text-align: center;
    margin:auto;
    font-weight: bold;
    font-size: 1em;
}
header, .right > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.right > ul{
    list-style-type: none;
    align-items: center;
    margin: 0;
    padding-right: 2.5rem;
}
.left{
    width:25rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.left > h1{
    font-size: 1.9rem;
    margin-top: auto;
}
.left > a {
    margin-top: 1rem;
    width: 12rem;
}
.right{
    width: 30rem;
}
.button-mod{
    height: 3em;
    width: 35%;
    padding: 0.3em;
    background-color: #3993ff;
    align-items: center;
    border-radius: .8rem;
    display: inline-flex;
    cursor: pointer;
    letter-spacing: .02em;
    transition: all .09s linear;
}
.button-mod:hover{
    background-color: #74b3ff;
}
.button-mod > li {
    list-style: none;
    margin: auto;
}
.button-mod > li > a {
    color: white;
    font-weight: bold;
}
.container{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Roboto",sans-serif;
    margin: auto;
}
.container > h2{
    width: 100%;
    text-align: center;
    font-size: 2rem;
    margin: 0;
    font-weight: bold;
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}
.container > p{
    font-size: 1.8rem;
}
.data{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem !important;
}
.data > label{
    margin-bottom: .5rem !important;
}
.space{
  height: 4rem;
}

